@font-face {
    font-family: myFirstFont;
}

div.container {
    width: 100%;
    /* border: 1em solid; */
}

div.box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    width: 50%;
    /* border: 1em solid red; */
    float: left;
}

div.column {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    width: 15%;
    /* border: 1em solid red; */
    float: left;
}

div.form {
    width: 40%;
    /* border: 1em solid red; */
    float: left;
    margin-right: 30px;
}

div.column {
    width: 100%;
    /* border: 1em solid red; */
    float: left;
    margin-top: 15px;
}

div.span {
    width: 30%;
    /* border: 1em solid red; */
    float: left;
    margin-left: 15px;
    font-size: 20px;
}

div.elem {
    width: 60%;
    /* border: 1em solid red; */
    float: left;
}

div.submit {
    margin-right: 30%;
    width: 30%;
    /* border: 1em solid red; */
    float: right;
}

input {
    font-size: 18px;
    height: 22px;
    width: 150px;
    border-color: var(--gray-lighter);
    color: var(--gray);
    cursor: pointer;
    box-sizing: 30px;
    border: greenyellow;
}

select {
    font-size: 18px;
    width: 150px;
    background: white;
    height: 30px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    width: 75px;
    height: 30px;
}

.button4 {
    border-radius: 12px;
}

textarea {
    font-size: 16px;
    max-width: 95%;
    background: #1a841f;
    color: white;
}